<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.recommenders.snipmatch.rpc.preferences.RecommendersPreferencePage"
            id="org.eclipse.recommenders.snipmatch.rpc.preferences.RecommendersPreferencePage"
            name="Code Recommenders">
      </page>
      <page
            class="org.eclipse.recommenders.snipmatch.rpc.preferences.SnipMatchPreferencePage"
            id="org.eclipse.recommenders.snipmatch.rpc.preferences.SnipMatchPreferencePage"
            name="SnipMatch"
            category="org.eclipse.recommenders.snipmatch.rpc.preferences.RecommendersPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.recommenders.snipmatch.rpc.preferences.PreferenceInitializer">
      </initializer>
      <initializer
            class="org.eclipse.recommenders.snipmatch.rpc.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.recommenders.snipmatch.rpc.commands.search"
            name="Search">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.recommenders.snipmatch.rpc.handlers.CommandHandler"
            commandId="org.eclipse.recommenders.snipmatch.rpc.commands.search">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.recommenders.snipmatch.rpc.commands.search"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+Enter">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.eclipse.recommenders.snipmatch.rpc.menus.snipmatch"
               label="SnipMatch"
               mnemonic="M">
            <command
                  commandId="org.eclipse.recommenders.snipmatch.rpc.commands.search"
                  id="org.eclipse.recommenders.snipmatch.rpc.menus.search"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.eclipse.recommenders.snipmatch.rpc.toolbars.sampleToolbar">
            <command
                  commandId="org.eclipse.recommenders.snipmatch.rpc.commands.search"
                  icon="icons/sample.gif"
                  id="org.eclipse.recommenders.snipmatch.rpc.toolbars.snipmatch"
                  tooltip="SnipMatch Menu">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
